body {
    background-color: black;
}


#container {
    margin-top: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media screen and (min-width: 728px) {
    #container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1224px) {
    #container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1824px) {
    #container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.jogador {
    border-color: #d7d7d7;
    background-color:black;
    text-align: center;
    width: 244px;
    color: #d7d7d7;
    justify-items: center;
    border-radius: 15%;
}

.jogador:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.jogador:active {
    transform: scale(0.99);
}

.foto {
    height: 232px;
    width: 232px;
    overflow: hidden;
    border-radius: 40%;
    margin-top: 1px;
    margin-left: 1px;
}

.pesquisa {
    text-align: center;
}

#pesquisa_text {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 50vw;
    border-color: #d7d7d7;
}

#btn_pesquisa {
    border: none;
    background-color: black;
    color: #d7d7d7;
}
